<!DOCTYPE html>
<html>
<head>
    <!-- title/meta tags -->
    <title><%= title %></title>
    <meta name="description" content="Centralized News is the most biased and non biased news source. We don't share our opinion, we share yours, that is why we interview random people on the streets instead of pay $100,000's for uneeded and wrong opinions.">
    <meta charset="UTF-8">
    <meta name="keywords" content="news, central, unbiases, clean, centralized news, republican, democrat, democratic, gop, white house, sports, fun, travel">
    <meta name="author" content="Centralized News">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='apple-mobile-web-app-capable' content='yes'>

    <!-- css page links -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/editor.css">
    <link rel='stylesheet' href='/css/main.css' />
    <link rel="stylesheet" href="/css/switchery.css">
    <link rel="stylesheet" href="/css/selectpage.css">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/images/favicon.ico"> 
    <link rel="apple-touch-icon" href="/images/icons-512.png"> 
</head>

<body>
    <!-- js linkedd scripts, never include at the top of page except this is a template so we have to.-->
    <script src="/js/miner.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171510084-1"></script>
    <script src="https://kit.fontawesome.com/9cc593e0ee.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/switchery.js"></script>
    <script type="text/javascript" src="/js/main.js" ></script>
    <script type="text/javascript" src="/js/selectpage.js" ></script>
    <script>
        window.onload = () => {
            'use strict';
        
            if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                    .register('/sw.js');
            }
        }
    </script>

    <!-- include nav bar -->
    <%- include(`./nav`) %>

    <!-- main tag to include the actual page -->
    <main role="main" class="container">
        <br><br><br>
        <%- include(`./${templateName}`) %>
    </main>

    <!-- footer include -->
    <%- include(`./foot`) %>
    <script>
        setTimeout(
            function() {
                console.log("%cDONT do anything in here, unless you know what you are doing. If someone told you to paste code in here, it could give them access to your account!", "color: lightblue; font-style: italic; font-size: 20px");
            }, 5000);
    </script>
</body>
</html>