<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top footer mt-auto py-3">
        <div class="row">
            <div class="col-6 col-md">
                <h5>Site</h5>
                <ul class="list-unstyled text-small">
                    <!-- generate a new sitemap here: https://www.xml-sitemaps.com/ -->
                    <li><a class="text-muted" href="/sitemap.xml">Sitemap</a></li>
                    <li><a class="text-muted" href="/status">Satus</a></li>
                    <li><a class="text-muted" href="/privacy">Privacy</a></li>
                    <li><a class="text-muted" href="/terms">Terms</a></li>
                    <li><a class="text-muted" href="/developers">Developers</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Company</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/about">About</a></li>
                    <li><a class="text-muted" href="/jobs">Work with us</a></li>
                    <li><a class="text-muted" href="/apply">Apply to produce</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Writers</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/writers">Writers</a></li>
                    <li><a class="text-muted" href="/writers/new">New article</a></li>
                    <li><a class="text-muted" href="/api/examples#writers">New article API</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contact</h5>
                <form action=/api/contact>
                    <input style="float: left; width: 48%;" type="text" name="name" placeholder="name">
                    <input style="float: right; width: 48%;" type="email" name="email" placeholder="email">
                    <br><br>
                    <textarea style="width: 100%" rows="3" type="text" name="message" placeholder="message"></textarea>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </footer>
</div>