<h1>404 Not Found</h1><br>
<h3>Search the site:</h3>
<div class="container">
    <form action="/search">
        <div class="form-group row">
          <div style="width: 100%;">
            <input style="width: 100%;" type="text" class="form-control" id="searchTerm" placeholder="Search Terms" name="q">
            <button type="submit" class="btn btn-primary" style="float: left;margin: 10px;">Search</button>
          </div>
        </div>
    </form>
</div>