<h1>Privacy Policy</h1>
<p>Last updated: July 04, 2020</p>
<h2>Description of the Service</h2>
<p>This service allows you to create and store text documents available to you and other ("User Content"). For more information please contact us using one of the following ways: <a href="<%- domain %>/contact""><%- domain %>/contact"</a></p>
<h2>Account Creation</h2>
<p>When creating an account on <%- name %> you give us the right to provide your information to third-parties for (a) advertising and (b) cookies. As well as us using your information for (a) marketing and (b) cookies.</p>
<h2>Private Information</h2>
<p>Any private information you give to us may be used and/or given to third-party apps/developers.</p>