<h1>All Topics</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/topic/business">Business</a></li>
    <li class="list-group-item"><a href="/topic/politics">Politics</a></li>
    <li class="list-group-item"><a href="/topic/tech">Tech</a></li>
    <li class="list-group-item"><a href="/topic/sports">Sports</a></li>
    <li class="list-group-item"><a href="/topic/opinions">Opinions</a></li>
    <li class="list-group-item"><a href="/topic/lifestyle">Lifestyle</a></li>
    <li class="list-group-item"><a href="/topic/entertainment">Entertainment</a></li>
</ul>
<h2>Trending Topics</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/topic/coronavirus">Coronavirus</a></li>
    <li class="list-group-item"><a href="/topic/racism">Racism</a></li>
</ul>